/* CSS Document */

/*******css reset********/

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
img{border:0;display: block;}

ul li,ol{ list-style:none;}
a{ text-decoration:none; color:#6c6c6c;}
/*a:hover{ color:#f22e00;}
*/input{ outline:none;border:none}
th,i,em,h1,h2,h3,h4,h5,h6,strong { font-style:normal; font-weight:normal; }
body { color:#333;  font: 12px/22px  '宋体', Tahoma, Arial; background:#fff;}
table { border-collapse: collapse; border-spacing: 0; }
button { cursor: pointer; }

textarea { word-wrap: break-word; resize: none;}
.clearfix:after{visibility:hidden; clear:both; display:block; content:"."; height:0;}





































/*<meta name="viewport" content="width=device-width,initial-scale=1.0" />*/


		/*<style type="text/css">
			div{width: 180px;height: 300px;margin: 200px auto;
			background: url("charector.png") no-repeat right top;
			animation: zhuazhushenjingmao 1s step-end  infinite ;}
			@keyframes zhuazhushenjingmao {
				0%{background-position: 0 0;}
				15%{background-position: -180px 0;}
				30%{background-position: -360px 0;}
				45%{background-position: -540px 0;}
				60%{background-position: -720px 0;}
				75%{background-position: -900px 0;}
				90%{background-position: -1080px 0;}
				100%{background-position: 0 0;}
			}
			
		</style>*/















